{% extends "auctions/layout.html" %}

{% block heading %} Listing {{ listing.id }}: {{ listing.title }} {% endblock %}

{% block body %}

    <div class=listing_wrapper>
        <img src='/media/{{ listing.id }}' style="height: 500px;">
        <br><br>

        <div class=text>
            {% if max_bid_message%}
                <h4><em style=color:rgb(185,184,253);>{{ max_bid_message }}</em></h4>
            {% endif %}
            <br><br>
            <b><h3>THIS LISTING IS CLOSED.</h3></b>
            <br><br>
            <b class='keyword'>PRODUCT DETAIL</b> 
            <br>
            {{ listing.description }} <br><br>
            <b class='keyword'>CATEGORY</b> 
            <br>
            {{ listing.category }} 
            <br><br>

            
            


        </div>
    </div>
    <br>
    <em>Created on {{ listing.date }}</em>
    {% if user.is_authenticated %}
        {% if message %}
        <div class='message'><em> {{ message }} </em></div>
        {% endif %}

        <form action="{% url 'listing' listing.id %}" method='post'>
            {% csrf_token %}
            <input type='hidden' name='called_for' value='watchlist'>
            <input type='submit' value='Add To Watchlist?'>
        </form>
    {% endif %}
    <br>

    <b class='keyword'>Comments</b> 
    {% for comment in comments %}
    <div class=comment>
        <b>{{ comment.author }}</b>
        <br>
        {{ comment.content}}
        <br>
    </div>
    <br>
    {% endfor %}


{% endblock %}