{% extends "auctions/layout.html" %}


{% block heading %} Watchlist {% endblock %}

{% block body %}

    {% for items in watchlist_items %}
    <a href="{% url 'listing' items.id %}" class="link">
        <form action="{% url 'watchlist' %}" method='post' id='close'>
            {% csrf_token %}
            <input type='hidden' name='listing_id' value='{{ items.id }}'>
            <input type='submit' value='x'>
        </form>

        <div class='wrapper'>
            <div class="image">
                <img src='/media/{{ items.id }}' class="index_listing">
            </div>

            <div class='text'>
                <h3>{{ items.title }}</h3>
                <h5>Price: £{{ items.max_bid }} </h5>
                {{ items.description }}
                <br><br>
                Created {{ items.date }}
                <br>
            </div>
    </div>
    </a>
    <br>
    {% empty %}
    You have no items in your watchlist.
    {% endfor %}

    

    
{% endblock %}